<div class="container">
    <div class="row pages">
         <%= render 'layouts/flash' %>
        <h2 align="center" class="">Edit Your Details</h2>
        <%= render "users/userform" %>
    </div>
</div>