
<div id="New">
    <div class="container">
        <div class="row">
                <%= render "users/usererrors" %>
                <h2 align="center" class="white newFormTitle">Create User</h2>
                <div class="col-md-12 newform">
               
                 <%= render "users/userform" %>
               
                </div>
           
        </div>
    </div>
</div>