
        <!-- Header -->
        <header id="header">
          <div class="intro">
            <div class="container">
              <div class="row">
                <div class="intro-text">
                  <h1><span class="name white">CDC Global</span></h1>
                  <p class="white">We Specialise in Microsoft Cloud Architecture</p>
                  <a href="#about" class="btn btn-default btn-lg page-scroll">Learn More</a> </div>
              </div>
            </div>
          </div>
        </header>
        <br /><br />
    
        <div class="portfolio">
                <h2 align="center" class="white"><span class="portfolio-title">Projects</span></h2> <br />
            <div class="row">
                <div align="center">
                           
                <% @projects.each do |project| %>
                    <div class="white">
                        <div class="index-block">
                            <h3>Company<%= project.company %></h3>
                            <h4>Title <%= project.title %></h4>
                            <p> <%= project.description %></p><br />
                        </div>
                    <br /><br /><br />
                    </div>
                <% end %>
                </div>
            </div>
        </div>

