<div class="container">
    <div class="row project-form">
        <%= render "projects/projecterrors" %>
        <%= render 'layouts/flash' %>
        <h2 align="center">Edit Portfolio</h2>
        <%= render "projects/projectform" %>
    </div>
</div>