<!DOCTYPE html>
<html>
  <head></head>
  <body>
    <p>You have received a message from CDC's contact form, from: </p>
      <p>Contact name: <%= "#{ @name }"%></p>
      <p>Contact email: <%= "#{ @email }"%></p>
    <p>Message: <%= @body %></p>
  </body>
</html>