@import "bootstrap-sprockets";
@import "bootstrap";

#portfolio, #nav, #header, #skills, .blue, #contact {
    background-image: asset-url("background.png");
    background-size: cover;
}

.white {
    color: #fff;
}

/* NAVBAR */

.nav, li, a{
    color: #fff;
   
}
.nav > li > a:hover {
     background-color: transparent;
    text-decoration: none;
}

.page-scroll {
    
}

.navbar-toggle, a:hover {
    color: #fff;
}

/* Navbar color change */
.navbar-fixed-top.scrolled {
  background-image: asset-url("background-sml.png");
  transition: background-color 400ms linear;
  color: #fff;
}

/*----------------------- HOME PAGE -------------------------------*/

/* index block */

.index-block {
    border: 3px solid white;
    border-radius: 5px;
    margin-left: 10px;
    margin-right: 10px;
    
}
.index-block a:hover {
    text-decoration: none !important;
}

.portfolio-title {
   
}


/* button */

.btn-default {
    background-color: transparent;
    color: #fff;
    margin-bottom: 5px;
}

.btn-default:hover {
    background-color: transparent;
    color: #fff;
}

/* Detail section */

.detail-pic {
    width: 200px;
    border: 2px solid white;
    border-radius: 5px;
    padding: 2px;
}

/* EDIT SHOW and INDEX PAGES */

.title-header {
    margin-top: 50px;
}

.pages {
    margin-top: 80px;
}
