@import "bootstrap-sprockets";
@import "bootstrap";





/* GENERAL BACKGROUND COLOURS */
 #nav, #header, #skills, .blue, #contact, #New {
    background-image: asset-url("background.png");
    /*background-size: cover; */
}

.white {
    color: #fff;
}

/* NAVBAR */



.nav, li, a{
    color: #fff;
   
}
.nav > li > a:hover {
     background-color: transparent;
    text-decoration: none;
}

.page-scroll {
    
}

.navbar-toggle, a:hover {
    color: #fff;
}


/* Navbar color change */
/* Blue background */
.navbar-fixed-top {
  background-image: asset-url("background-sml.png");
  transition: background-color 400ms linear;
  color: #fff;
}

/* Transparent Background */
.navbar-fixed-top-transparent {
    background: transparent;
    border-top: 5px solid white;
    border-bottom: 5px solid white;
    color: #fff;
}



/*----------------------- HOME PAGE -------------------------------*/

/* index block */

.index-block {
    border: 3px solid white;
    border-radius: 10px;
    margin-left: 10px;
    margin-right: 10px;
    
}
.index-block a:hover {
    text-decoration: none !important;
}



/* button */

.btn-default {
    background-color: transparent;
    color: #fff;
    margin-bottom: 5px;
}

.btn-default:hover {
    background-color: transparent;
    color: #fff;
}

/* Detail section */

.detail-pic {
    width: 200px;
    border: 2px solid white;
    border-radius: 5px;
    padding: 2px;
}

/* EDIT SHOW and INDEX PAGES */

.title-header {
    margin-top: 120px;
}

.pages {
    margin-top: 80px;
}

.title-space {
    padding-top: 50px;
   
}

.index-area {
    border-radius: 10px;
}

/* ---------------NEW USER PAGE------------------------ */

.newform {
    margin-top: 50px;
}

 .newFormTitle {
     margin-top: 140px;
 }