@import "bootstrap-sprockets";
@import "bootstrap";





/* GENERAL BACKGROUND COLOURS */
 #nav, #header, #skills, .blue, #contact, #New {
    background-image: asset-url("background.png");
    /*background-size: cover; */
}

.white {
    color: #fff !important;
}

.white simple_format{
    color: #fff !important;
}

/* NAVBAR */

.nav {
    margin-top: 5px;
}
.navbar-left {
    padding-left: 10px;
}

/* Also works index section */
.nav, li, a {
    color: #fff;
     
   }
.nav, li {
    font-size: 15px;
}

.nav > li > a:hover {
background-color: transparent;
text-decoration: none;
border: 1px solid white;
border-radius: 5px;
color: #fff;

}

.index-block a:hover {
    color:white;

}


// Main Page set up
    #about {
        margin-top: 50px
    }


// Toggle bar
.navbar .navbar-toggle .icon-bar {
    background-color: #fff !important;
}


/* Navbar color change */
/* Blue background */
.navbar-fixed-top {
  background-image: asset-url("background-sml.png");
  transition: background-color 400ms linear;
  color: #fff; 
}

/* Transparent Background */
.navbar-fixed-top-transparent {
    background: transparent;
    border-top: 5px solid white;
    border-bottom: 5px solid white;
    color: #fff;
}



/*----------------------- HOME PAGE -------------------------------*/

/* index block */

.index-block {
    border: 3px solid white;
    border-radius: 10px;
    margin-left: 10px;
    margin-right: 10px;
    
}
.index-block a:hover {
    text-decoration: none !important;
}



/* button */

.btn-default {
    background-color: transparent;
    color: #fff;
    margin-bottom: 5px;
}

.btn-default:hover {
    background-color: transparent;
    color: #fff;
}

/* Portfolio Section */



/* Detail section */

.detail-pic img {
    //width: 200px;
    border: 1px solid black;
    border-radius: 15px;
    padding: 2px;
}

/* EDIT SHOW and INDEX PAGES */

.title-header {
    margin-top: 120px;
}

.pages {
    margin-top: 80px;
}

.title-space {
    padding-top: 50px;
   
}

.index-area {
    border-radius: 10px;
}

/* ---------------NEW USER PAGE------------------------ */

.newform {
    margin-top: 50px;
}

 .newFormTitle {
     margin-top: 140px;
 }



 /*------------------------Footer Section ------------------------------*/

 #footer {
    /*	background: url(../img/background-sml.png); */
        border-top: 2px solid white;
        border-bottom: 2px solid white;
        color: #7d8384;
        padding: 30px 0 25px 0;
    }
    #footer p {
        font-size: 13px;
    }
    #footer a {
        color: #a0a5a5;
    }
    #footer a:hover {
        color: #7bc3d1;
    }

 
 // Social Media
 #contact .social {
	margin-top: 60px;
}
#contact .social ul li {
	display: inline-block;
	margin: 0 20px;
}
#contact .social i.fa {
	font-size: 30px;
	padding: 4px 5px;
	color: #fff;
	transition: all 0.5s;
}
#contact .social i.fa:hover {
    color: #121d1f;
}