<div class="container">
    <div class="row pages">
        <%= render "details/detailerrors" %>
        <h2 align="center" class="">Edit Your Profile Details</h2>
        
        <%= render "details/detailform" %>
    </div>
</div>