<div class="container">
    <div class="row">
    <%= render "details/detailerrors" %>
    <%= render 'layouts/flash' %>
        <h2 align="center" class="">Create Your Profile</h2>
    <%= render "details/detailform" %>
    </div>
</div>