<div id="footer">
  <div class="container">
    <div class="fnav">
        <p class="footer-link">Created by: <a href="http://www.vincethewalker.com" rel="nofollow">Vincent Walker 2019 @vincethewalker.com</a></p>
    </div>
  </div>
</div>