<div id="footer">
  <div class="container text-center">
    <div class="fnav">
      <p>Created by: <a href="http://www.vincethewalker.com" rel="nofollow">Vincent Walker 2019 @vincethewalker.com</a></p>
    </div>
  </div>
</div>